* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --bg-color:#536440;                  
}
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* :focus {
  outline: none;
  border: none;
} */

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}
