.sidebar_container {
  width: 100%;
  display: flex;
  flex: 3 1;
  /* height: calc(100vh - 85px); */
  justify-content: center;
}
.sidebar_outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 35px;
}

.sidebar_top {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
  max-width: 360px;
}
.text-1 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;

}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.black-c{
    color: #000000;
}
.light-c{
    color: #929292;
}
.lighter-c{
    color: #ABABAB;
}
.sidebar_bottom {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
  padding: 15px 25px;
  max-width: 360px;
}
.num-inner {
    display: flex;
    gap: 3px;
}
.btn-green {
    background: #536440;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    padding: 5px 50px;
    margin-top: 12px;
    color: #FFFFFF;
}
.img-sec {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
}
.li-flex{
    display: flex;
    gap: 15px;
}
.ul-flex{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    gap:25px;
}
.num-outer {
    display: flex;
    gap: 30px;
    margin-top: 35px;
}
.img-130 {
    width: 130px;
    height: 130px;
    object-fit: cover;
}
.img-c{
    border-radius: 50%;
}